/* Fontes de Texto */
@font-face {
  font-family: "Nunito_Sans_Regular";
  src: url(./assets/fonts/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: "Titulium_Web_Regular";
  src: url(./assets/fonts/TitilliumWeb-Regular.ttf);
}

/* Animações */
@keyframes animacao-titulo {
  0% {
    margin-top: -6vw;
    transition: ease-in 0.5s;
  }
  
  90% {
    background-color: #ffffff00;
    transition: ease-in 2s;
  }

  100% {
    margin-top: 0.5vw;
    height: auto;
    background-color: var(--cor-sec-pagina);
  }
}

/* Estilizações */
:root {
  --cor-base-pagina: #1f1f1f;
  --cor-sec-pagina: #393939;
}

/* CSS Reset */
html, body, header, head, footer, h1, h2, h3, h4, h5, h6, div, section, textarea, p, span {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--cor-base-pagina);
}

/* Lista de Classes */
.app-conteiner {
  display: inline-block;
}

.app-structure {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  vertical-align: top;
  width: 100vw;
}

.app-cabecalho {
  display: flex;
  background-color: var(--cor-sec-pagina);
  justify-content: center;
  margin: 1vw 1.5vw;
  width: 90%;
  border-radius: 3px;
  box-shadow: #111111 0px 1px 6px;

  animation: animacao-titulo 1.2s forwards;
}

.app-cabecalho-titulo {
  color: #ffffff;
  justify-content: center;
  font-family: "Nunito_Sans_Regular";
}

.app-card-organizer { width: 48%; }

.app-card-grafo { width: 48%; }

.app-card-lances { width: 100%; }

.app-card-tabuleiro { width: 100%; }
