/* Fontes de Texto */
@font-face {
  font-family: "Nunito_Sans_Regular";
  src: url(./assets/fonts/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: "Titulium_Web_Regular";
  src: url(./assets/fonts/TitilliumWeb-Regular.ttf);
}

/* Animações */
@keyframes animacao-titulo {
  0% {
    margin-top: -6vw;
    transition: ease-in 0.5s;
  }

  60% {
    margin-top: 1vw;
    height: auto;
  }

  70% {
    box-shadow: #ffffff00 0px 4px 7px;
    transition: ease-in 6.0s;
  }

  100% {
    box-shadow: #ffffff55 0px 4px 7px;
  }
}

/* Estilizações */
:root {
  --cor-base-pagina: #1f1f1f;
  --cor-sec-pagina: #393939;
}

/* CSS Reset */
html, body, header, head, footer, h1, h2, h3, h4, h5, h6, div, section, textarea, p, span {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--cor-base-pagina);
}

/* Lista de Classes */
.app-conteiner {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
}

.app-cabecalho {
  display: flex;
  font-family: "Nunito_Sans_Regular";
  font-size: 1rem;
  font-weight: 700;
  margin: 1vw 1.5vw;
  width: 100vw;
  text-align: center;

  animation: animacao-titulo 1.2s forwards;
}

.app-cabecalho-titulo {
  display: inline;
  width: 90%;
  margin-left: 4vw;
  padding: 0.8vw 0.6vw;
  border-radius: 4px;
  border-bottom: #282828 solid 3px;
  color: #ffffff;
}
