/* Fontes de Texto */
@font-face {
  font-family: "Nunito_Sans_Regular";
  src: url(./assets/fonts/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: "Titulium_Web_Regular";
  src: url(./assets/fonts/TitilliumWeb-Regular.ttf);
}

/* Animações */
@keyframes animacao-titulo {
  0% {
    margin-top: -6vw;
    transition: ease-in 0.5s;
  }

  100% {
    margin-top: 1vw;
    height: auto;
  }
}

/* Estilizações */
:root {
  --cor-base-pagina: #232323;
  --cor-primaria-pagina: #141414;
  --cor-secundaria-pagina: #2c2c2c;
  --cor-sombra-elementos: #525252;
  --cor-interface-primaria-pagina: #0044ff;
  --cor-interface-secundaria-pagina: #225100;
  --cor-tabuleiro-verde: #006a2e; 
  --cor-tabuleiro-branco: #efefef;
  --tamanho-texto-m-um: 1.2rem;
  --tamanho-texto-m-dois: 1.6rem;
  --tamanho-texto-m-tres: 2.4rem;
  --tamanho-quadrilatero-tabuleiro: 10px;
}

/* CSS Reset */
html, body, header, head, footer, h1, h2, h3, h4, h5, h6, div, section, textarea, p, span {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--cor-base-pagina);
}

/* Lista de Classes */
.app-conteiner {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
}

.app-cabecalho {
  display: flex;
  font-family: "Nunito_Sans_Regular";
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1vw 1.5vw;
  width: 100vw;
  text-align: center;

  animation: animacao-titulo 0.5s forwards;
}

.app-cabecalho-titulo {
  display: inline;
  width: 90%;
  margin-left: 4vw;
  padding: 0.8vw 0.6vw;
  border-radius: 4px;
  background-color: var(--cor-secundaria-pagina);
  box-shadow: var(--cor-sombra-elementos) 1px 1px 5px;
  color: #ffffff;
}

.app-flex-tabuleiro-conteiner {
  display: inline-block;
}

.app-tabuleiro-conteiner {
  display: grid;
  margin: 0.5vw 0.4vw;
  box-shadow: var(--cor-sombra-elementos) 1px 1px 4px;
}

.app-tabuleiro {
  display: grid;
  background-color: var(--cor-secundaria-pagina);
}

.app-tabuleiro-casa {
  width: 60px;
  height: 60px;
}

.app-tabuleiro-casa-impar {
  background-color: var(--cor-tabuleiro-branco);
}

.app-tabuleiro-casa-par {
  background-color: var(--cor-tabuleiro-verde);
}

/* Lista de Identificadores */
#app-card-informacoes {
  display: inline-block;
  width: 600px;
  margin: 0.5vw 0.4vw;
  height: calc(65px*4);
  margin-left: 7.5vw;
  margin-right: 2vw;
  border-radius: 0.2vw;
  border: #0044ff 1.5px solid;
  background-color: var(--cor-secundaria-pagina);
  box-shadow: var(--cor-sombra-elementos) 1px 1px 4px;
}

#cs11 {
  border-top-left-radius: 5px;
}

#cs18 {
  border-top-right-radius: 5px;
}

#cs81 {
  border-bottom-left-radius: 5px;
}

#cs88 {
  border-bottom-right-radius: 5px;
}
