@charset "utf-8";

/* Fontes de Texto */
@font-face {
  font-family: "Nunito_Sans_Regular";
  src: url(../fonts/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: "Titulium_Web_Regular";
  src: url(../fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: "FreeSerifRegular";
  src: url(../fonts/FreeSerif-4aeK.ttf);
}

/* Animações */
@keyframes overflowButton {

  0% { }
  50% { }
  100% { }

}

/* Estilizações */
:root {
  --cor-sombra-pagina: #111111;
  --cor-primaria-pagina: #1f1f1f;
  --cor-secundaria-pagina: #2f2f2f;
  --cor-ternaria-pagina: #333333;
  --cor-quartaria-pagina: #444444;
  --cor-primaria-tabuleiro: #fce2af;
  --cor-secundaria-tabuleiro: #872a14;
}

/* CSS Reset */
html,
body,
header,
head,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
div,
section,
textarea,
p,
span {
  margin: 0;
  padding: 0;
}

/* CSS Defines */
html {
  background-color: var(--cor-primaria-pagina);
}

.app-conteiner {
  display: inline-block;
}

.app-structure {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  vertical-align: top;
  width: 100vw;
}

.app-cabecalho {
  display: flex;
  background-color: var(--cor-secundaria-pagina);
  justify-content: center;
  margin-left: 0.5vw;
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
  width: 96%;
  border-radius: 3px;
  box-shadow: #111111 0px 1px 6px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

.app-cabecalho-titulo {
  color: #ffffff;
  justify-content: center;
  font-family: "Nunito_Sans_Regular";
}

.app-card-organizer { 
  display: flex; 
  flex-wrap: wrap; 
  width: 38%; 
  justify-content: center;
  border: #666666 1px solid;
  border-radius: 4px;
  position: static; 
}

.app-card-grafo { 
  width: 48%; 
  background-color: #2f2f2f; 
  height: 86vh; 
  position: static; 
  box-shadow: #111111 0px 1px 6px;
}

.app-card-lances { 
  display: inline-flex;
  float: right;
  width: calc(9*50px);
  height: 80px;
  background-color: #2f2f2f; 
  margin-left: 0.6vw;
  margin-right: 0.6vw;
  margin-bottom: 1.5vw;
  border-radius: 2px;
  flex-wrap: wrap;
  box-shadow: #111111 0px 1px 6px;
}

/* CSS Document */
/* TABULEIRO*/
#tabuleiro {
  width: calc(8.8*50px);
  height: calc(8.8*50px);
  margin-left: 20px;
}

#tabuleiro div {
  width: 50px;
  height: 50px;
  float: left;
  font-size: 44px;
  text-align: center;
  padding-left: 2px;
  cursor: pointer;
  border: #111111 0.5px solid;
  font-family: "FreeSerifRegular";
}

#t11, #t13, #t15, #t17, #t22, #t24, #t26, #t28, #t31, #t33, #t35, #t37, #t42, #t44, #t46, #t48, #t51, #t53, #t55, #t57, #t62, #t64, #t66, #t68, #t71, #t73, #t75, #t77, #t82, #t84, #t86, #t88 {
  background-color: var(--cor-primaria-tabuleiro);
}

#t12, #t14, #t16, #t18, #t21, #t23, #t25, #t27, #t32, #t34, #t36, #t38, #t41, #t43, #t45, #t47, #t52, #t54, #t56, #t58, #t61, #t63, #t65, #t67, #t72, #t74, #t76, #t78, #t81, #t83, #t85, #t87 {
  background-color: var(--cor-secundaria-tabuleiro);
}

#fundo {
  background: #000;
  position: fixed;
  width: calc(8.59*50px);
  height: calc(8.59*50px);
  z-index: 999;
  top: 4.2vw;
  left: 1.6vw;
  opacity: 0.50;
  -moz-opacity: 0.50;
  filter: alpha(opacity=50);
}

.app-tabuleiro-escolhe {
  position: fixed;
  top: 20%;
  left: 20%;
  display: none;
  z-index: 1000;
  background: var(--cor-secundaria-pagina);
  border: #000 solid 1px;
  border-radius: 4px;
  font-family: "FreeSerifRegular";
}

.app-tabuleiro-escolhe div {
  width: 70px;
  height: 70px;
  float: left;
  margin: 1px;
  font-size: 56px;
  text-align: center;
  float: left;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.app-tabuleiro-escolhe div:hover {

  background-color: #666666;

}

#escolhecor-inicio {
  display: block;
  left: 12%;
  top: 35%;
}
