@charset "utf-8";

/* Fontes de Texto */
@font-face {
  font-family: "Nunito_Sans_Regular";
  src: url(../fonts/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: "Titulium_Web_Regular";
  src: url(../fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: "FreeSerifRegular";
  src: url(../fonts/FreeSerif-4aeK.ttf);
}

/* Animações */
@keyframes animation { }

/* Estilizações */
:root {
  --cor-sombra-pagina: #111111;
  --cor-primaria-pagina: #1f1f1f;
  --cor-secundaria-pagina: #2f2f2f;
  --cor-ternaria-pagina: #333333;
  --cor-quartenaria-pagina: #444444;
  --cor-primaria-tabuleiro: #fce2af;
  --cor-secundaria-tabuleiro: #872a14;
}

/* CSS Reset */
html,
body,
header,
head,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
div,
section,
textarea,
p,
span {
  margin: 0;
  padding: 0;
}

/* CSS Defines */
html {
  background-color: var(--cor-primaria-pagina);
}

.app-conteiner {
  display: inline-block;
}

.app-structure {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  vertical-align: top;
  width: 100vw;
}

.app-cabecalho {
  display: flex;
  background-color: var(--cor-secundaria-pagina);
  justify-content: center;
  margin-left: 0.5vw;
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
  width: 96%;
  border-radius: 3px;
  box-shadow: #111111 0px 1px 6px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
}

.app-cabecalho-titulo {
  color: #ffffff;
  justify-content: center;
  font-family: "Nunito_Sans_Regular";
}

.app-card-grafos { 
  display: inline-flex;
  justify-content: center;
  width: calc(8.4*50px); 
  height: calc(8.4*50px);
  margin-left: 8vw;
  background-color: #2f2f2f;
  box-shadow: #111111 0px 1px 6px;
  border-radius: 4px;
}

.app-card-lances { 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(14*50px);
  height: 80px;
  background-color: #2f2f2f; 
  margin-left: 13vw;
  margin-right: 0.6vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border-radius: 4px;
  box-shadow: #111111 0px 1px 6px;
}

.app-card-lances div {
  display: flex;
  font-family: 'Titulium_Web_Regular';
  color: #ffffff;
  width: 99%;
  height: 88%;
  justify-content: center;
  vertical-align: middle;
  font-weight: 800;
  font-size: large;
  border-radius: 4px;
  background-color: var(--cor-primaria-pagina);
}

.app-card-lances div p {
  display: flex;
  padding-top: 1.5vw;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.app-card-grafos div {
  width: 98%;
  padding-top: -1vw;
  padding-bottom: -1vw;
  border-radius: 4px;
  background-color: var(--cor-primaria-pagina);
}

#appRootLances, #appRootGrafos {
  display: inline-block;
}

/* CSS Document */
/* TABULEIRO*/
#tabuleiro {
  display: inline-block;
  padding-left: 1.5%;
  padding-top: 1.5%;
  width: calc(8.8*45px);
  height: calc(8.8*45px);
  margin-left: 3vw;
  border-color: var(--cor-ternaria-pagina);
  border-width: 2.5px;
  border-style: solid; 
  box-shadow: #111111 0px 1px 6px;
  border-radius: 4px;
}

#tabuleiro div {
  width: 45px;
  height: 45px;
  float: left;
  font-size: 40px;
  border-color: #111111;
  border-width: 0.2px;
  border-style: solid;
  margin: 0;
  text-align: center;
  cursor: pointer;
  font-family: "FreeSerifRegular";
}

#t11, #t13, #t15, #t17, #t22, #t24, #t26, #t28, #t31, #t33, #t35, #t37, #t42, #t44, #t46, #t48, #t51, #t53, #t55, #t57, #t62, #t64, #t66, #t68, #t71, #t73, #t75, #t77, #t82, #t84, #t86, #t88 {
  background-color: var(--cor-primaria-tabuleiro);
  text-shadow: #000000 1px 1px 4px;
  margin-bottom: 0;
  margin-top: -5px;
}

#t12, #t14, #t16, #t18, #t21, #t23, #t25, #t27, #t32, #t34, #t36, #t38, #t41, #t43, #t45, #t47, #t52, #t54, #t56, #t58, #t61, #t63, #t65, #t67, #t72, #t74, #t76, #t78, #t81, #t83, #t85, #t87 {
  background-color: var(--cor-secundaria-tabuleiro);
  text-shadow: #000000 1px 1px 4px;
}

#fundo {
  background: #000;
  position: fixed;
  width: calc(9.2*45px);
  height: calc(9.2*45px);
  z-index: 999;
  top: 5.22vw;
  left: 13.1vw;
  opacity: 0.50;
  -moz-opacity: 0.50;
  filter: alpha(opacity=50);
  border-radius: 4px;
}

.app-tabuleiro-escolhe {
  position: fixed;
  top: 20%;
  left: 20%;
  display: none;
  z-index: 1000;
  background: var(--cor-secundaria-pagina);
  border: #000 solid 1px;
  border-radius: 4px;
  font-family: "FreeSerifRegular";
}

.app-tabuleiro-escolhe div {
  width: 70px;
  height: 70px;
  float: left;
  margin: 1px;
  font-size: 56px;
  text-align: center;
  float: left;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;

  transition-timing-function: ease-in;
  transition-duration: 300ms;
  transition-delay: 2ms;
}

.app-tabuleiro-escolhe div:hover {
  
  background-color: var(--cor-quartenaria-pagina);
  transform: translateY(10);

}

.app-organizer {
  display: inline-block;
  margin-left: 10%;
  vertical-align: middle;
}

#escolhecor-inicio {
  display: block;
  left: 22.6%;
  top: 37.5%;
}

/* Página de transição - ajuste emergente */
#appTransitionPage { 

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--cor-primaria-pagina);
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 1100;
  
}

.app-transition-page-img-conteiner { 

  display: flex;
  width: 70%;
  justify-content: center;
  height: 50%;
  margin-top: 6vw;

}

.app-transition-page-img {

  display: flex;
  align-self: center;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  box-shadow: #ffffff 0px 0px 5px;

}

.app-transition-page-progress-bar {
  
  margin-top: -20vw;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: var(--cor-secundaria-pagina);
  border-radius: 4px;
  padding: 0.15vw 0.15vw;
  width: 30vw;
  height: 1.6vw;
  box-shadow: #ffffff 0px 0px 5px;
  
}

.app-transition-page-progress-bar-text {

  font-family: "Nunito_Sans_Regular";
  display: flex;
  bottom: 13vw;
  font-weight: 800;
  left: 50;
  color: #ffffff;
  font-size: 1rem;

}
